<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"
      lang="en">
<head>
    <title>Add book</title>
</head>

<body>

<main layout:fragment="content">

    <form class="add-book-form">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title">
        </div>
        <div>
            <label for="year">Year of publication</label>
            <input type="text" id="year">
        </div>
        <div>
            <label for="pages">Number of pages</label>
            <input type="text" id="pages">
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" id="description"/>
        </div>
    </form>

</main>

</body>

</html>